/* line 1, ../sass/sass/calendar.scss */
.holder {
  background-image: none;
}

/* line 5, ../sass/sass/calendar.scss */
#calendar-title {
  font-family: helvetica;
  height: 30px;
}

/* line 10, ../sass/sass/calendar.scss */
#calendar-title-text {
  position: relative;
  left: 73px;
}

/* line 15, ../sass/sass/calendar.scss */
#calendar-days {
  font-family: helvetica;
}

/* line 19, ../sass/sass/calendar.scss */
.day {
  font-family: helvetica;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 23, ../sass/sass/calendar.scss */
.day:hover {
  background-color: rgba(51, 187, 51, 0.5);
}
