
/* CSS Document */
/*zeldman standards*/

.hide {
display : none;
}

/***** TEXT STYLES**********************************************/
p, td, li, ul, ol, h1, h2, h3, h4, h5, h6 {
font-family:Verdana, Arial, Helvetica, sans-serif;
text-decoration : none;
font-size:11px;
color:#4F8AAC;
padding-top:0;
margin:0;
}

/*----- CSS Document */
body{
margin:none;
border:0;
margin:0;
padding:0;
}
/*----- Tag (standard) stlye*/

img{
border:0;
}
/*----- Tag (class) stlye*/
img.pics{
padding-left:20px;
}

h2{
font-family:arial;
font-size:14px;
font-weight:bold;
padding:0;
margin:0;
}
h3{
font-family:arial;
font-size:12px;
font-weight:bold;
padding-top:10px;
margin:0;
}


/*----- Div stlye*/
.wrap{
margin-top:10%;
}

div.holder{
width:780px;
height:341px;
background-image:url(../images/bg_5.jpg);
}

.gns{

background-color:#99CCFF;
background-image:url(../images/gnsBg.gif); 
background-repeat:no-repeat;
padding-left:285px;
padding-top:20px;
padding-bottom:4px;
}

.gns li {
	display: inline;
	list-style:none;
	padding-top:20px;
	}

.gns li a{
	margin:0;
	width:120px;  
	height:28px;
	padding-left: 6px;
	padding-right:10px;
	padding-bottom: 4px;
	padding-top:20px;
	font-size:12px;
	text-decoration:none;
	color:#4F8AAC;
	vertical-align:bottom;
}



.gns li a:hover{
	color:#4F8AAC;
	background-image:url(../images/gnsGrad.gif);
	background-repeat:repeat-y;
}

.gns li a:active{
	color:#4F8AAC;
	background-image:url(../images/gnsGrad.gif);
	background-repeat:repeat-y;
}

/* --- end gns navigation ---*/
.italics{
font-style:italic;

}

.download_link{
margin-top:5px;
display:block;
padding-left:12px;
background-image:url(../images/arrowNxt.gif);
background-repeat:no-repeat;
color:#3399FF;
}

.download_link:hover{
display:block;
padding-left:12px;
background-image:url(../images/arrowNxt1.gif);
background-repeat:no-repeat;
}

.download_link a{

color:#4F8AAC;
padding-left:10px;
padding-top:15px;
}

.download_link a:hover{
color:#3399FF;
text-decoration:underline;
}


div.logo{
height:38px;
display:inline;
}

div.navItem{
height:38px;
display:inline;
border:0;
margin:0;
}


div.arrow{
width:10px;
height:11px;
display:inline;
padding-right:5px;
}


div.imgFooter{
width:168px;
display:block;
font-family:arial;
font-size:11px;
color:#FFFFFF;
padding-left:20px;
padding-top:5px;
}


div.text{
padding-top:15px;
width:450px;
height:168px;
float:left;
}

div.poleroid{
padding-top:15px;
padding-left:15px;
padding-right:15px;
float:left;
}

div.footer{
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-right:5px;
float:right;
font-size:9px;
color:#B2DCF4;
}

.footer a{
color:#B2DCF4;
text-decoration:none;
}
