  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sticky Footer Template for Bootstrap</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/sticky-footer.css" rel="stylesheet">

    <style type="text/css">
      /*http://colorschemedesigner.com/#3D11T--E8w0w0*/
      
      div#wrap { background: url('img/home.jpg'); color:#fff; }
      div.container { background-color:#1F0081; opacity:0.45; }

      div#menu a { 
        color:#FFF; 
        width: 90px; padding:5px; margin:0px; display:inline-block; 
        background-color:#6139E3; opacity:1.0; 
        text-decoration:none; 
      }
      div#menu a.active { background-color:#3881E0; opacity:0.99; }
      div#menu a:hover { background-color:#3881E0; opacity:0.95; }
    </style>
  </head>