<!DOCTYPE html>
<html lang="en">
    {{% template "page.head.erb" %}}
  <body>
    <div id="wrap">
      <div class="container">
	<div>
	  {{% template "./templating/templates/page.menu.erb" %}}
	  <h1>{{ title }}</h1>
	</div>
	<p class="lead">Kia Ora</p>
	<p>
	  Come stay and enjoy expansive panoramic sea views, including Tasman Bay, Abel Tasman National Park and Split Apple Rock from the decking or right out of your bedroom window. Our environmentally friendly Eco-log home has rooms with private entrances and decking. We are within easy walking distance of two golden beaches; Towers Bay which is locally renowned for its exclusivity, and the Split Apple Rock beach with its more sheltered aspect and predictably tranquil waters.
	</p>
	<p>
	  We have two cats in residence and they are very much a part of the family. Even so, due to careful monitoring of feline activities many native birds nest and feed at Split Apple Rock Homestay. Tui, Bellbird, Wood pigeon (Kereru), Fantail, Wax-eye and Quail are amongst those we see nearly every day.
	<p>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
        <p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
      </div>
    </div>
    {{% template "page.footer.erb" }}
  </body>
</html>
